/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  font-family: var(--system-ui);
}

.headercontainer {
  display: flex;
  align-items: center;
  padding: 20px 5%;
  border-bottom: 1px solid black;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: 20px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links a {
  text-decoration: none;
  color: black;
  margin: 0 16px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(41, 41, 234);
  text-decoration: underline;
}

.logo {
  cursor: pointer;
}

.nav_buttons button {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.nav_buttons button {
  transition: all 0.3s ease 0s;
}

.nav_buttons button:hover {
  color: white;
  background-color: rgb(41, 41, 234);
}
